/* CSS STYLES - MAKE IT LOOK DARK & COOL */
body {
  background-color: black;
  color: #e0e0e0;
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  border: 2px solid cyan;
  border-radius: 20px;
  max-width: 400px;
  /* display: flex;
  flex-direction: column; */
  justify-self: center;
  max-height: 100vh;
}

h1 {
  color: #bb86fc;
}

.dateweek {
  display: flex;
  justify-content: space-evenly;
}

.day-display,
#day-display,
#week-display {
  border: 2px solid beige;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: larger;
}

.timer-box {
  background: #333;
  padding: 15px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 400px;
  border: 2px solid black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);

}

.timer-text {
  font-size: 2em;
  font-weight: bold;
  font-family: monospace;
}

.status-msg {
  color: #03dac6;
  font-size: 0.9em;
  margin-bottom: 5px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
  min-height: 60vh;
  background-color: black;


}

.meal-card {
  background: #1e1e1e;
  padding: 15px;
  border-radius: 10px;
  border-left: 5px solid #72e620;
  text-align: left;
  flex-grow: 1;
  max-width: 100%;
  max-height: 95%
}

.meal-card.active {
  border-left-color: #cf6679;
  background: #2c1b1b;
}

/* Highlight active meal */

.meal-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #bb86fc;
}

.meal-food {
  font-size: 1.1em;
  margin: 5px 0;
}

.meal-cal {
  font-size: 0.8em;
  color: #888;
  font-style: italic;
}

#loading {
  color: yellow;
}